<h1>Listing Journals</h1>
<%= link_to 'New Journal', new_journal_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th colspan="2"></th>
  </tr>
 
  <% @journals.each do |journal| %>
    <tr>
      <td><%= journal.title %></td>
      <td><%= journal.text %></td>
      <td><%= link_to 'Show', journal_path(journal) %></td>
      <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
      <td><%= link_to 'Destroy', journal_path(journal),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
