<div class='container'>
    
  <h2><%=@journal.title %></h2>

  <h5>
  Created at: 
    <%= @journal.created_at
              .in_time_zone("Eastern Time (US & Canada)")
              .strftime("%m-%d-%Y at %I:%M %p")
    %>
  </h5>

  <pre><%= @journal.text %></pre>

  <div>
    <%= link_to 'Edit', edit_journal_path(@journal), class: 'btn btn-large'%>
    <%= link_to 'Back', journals_path, class: 'btn btn-large'%>
  </div>

</div>